
.gif {
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    
}

label {
    width: 70px;
    margin-top: 5px;
}

input {
    min-width: 200px;
    border: 2px solid rgb(168, 168, 168);
}

.form-group:nth-of-type(1) {
    margin-top: 60px;
}

a {
    margin-top: 20px;
}

.panierLine {
    border: solid #000000 2px;
    border-radius: 10px;
    padding: 10px 0 0px 0;
}

p.lead {
    margin-top: 50px;
}

img {
    border-radius: 10px 0 0 10px;
}

span {
    color: #25b920;
    font-size: bold;
}

.fa-times-circle {
    font-size: 2rem !important;
    color: grey;
}

.totalCount {
    font-size: 1.2rem;
}



.commande p {
    font-size: 1.2rem;
    font-weight: 600;
}

.col-md-4 h2{
    color: rgb(102, 102, 102);
}
span.underline_decoration{
    text-decoration: underline;
    color: black;
}
#order_number{
    font-size: 1.5rem;
}
#total_price_order{
    font-size: 1.5rem;
    color: #25b920;
}

#finalPrice{
    color: rgb(207, 25, 25);
}
.voir_produit{
    color: rgb(25, 176, 236);
    font-size: 1.5rem;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

